*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.project-links {
        display: flex;
        max-width: 600px;
        margin: 0 auto;
        flex-wrap: wrap;
        margin-top: 50px;
}

.project-links img {
        max-width: 100%;
}

.project-links a.a-button {
        flex-basis: 33.33%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
}

.search input {
  background-image: url('searchicon.png');
  background-repeat: no-repeat;
  background-position: right;
}

.carousel {
  width: 100vw;
  max-height: 300px;
  height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  object-fit: cover;
  display: flex;
  justify-content: center;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
.container {
  background-color: #00b4d8;
  box-shadow: 10px 5px 5px rgba(0, 0, 255, 0.5); /* Updated shadow color */
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

.carousel-container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
}


header {
        width: 100%;
}







img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.header-image {
  background-image: url('doge.png'); /* Set the image as the background */
  background-size: cover; /* Cover the entire element with the background image */
  background-position: center; /* Center the background image */
  width: 60px; /* Set width as needed */
  height: 60px; /* Set height as needed */
  padding: 10px;
  margin: 10px;
}


